<div id="Anon_Header">
    <div class="a_header_top">
        <div class="container">
            <div class="a_header_top_left">
            </div>
            <div class="a_header_top_right">
                <ul class="a_list">
                    <li class="a_active">
                        <a href="../Login/index.html" data-toggle="modal" class="btn ">Inicio de Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--login  Modal -->
    <div id="a_login" class="modal fade a_login" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="a_login_box">
                    <ul class="nav nav-tabs">
                        <li class="">
                            <a data-toggle="tab" href="#register" aria-expanded="false">Registrate</a>
                        </li>
                        <li class="active">
                            <a data-toggle="tab" href="#login" aria-expanded="true">Inicio de Sesion</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="register" class="tab-pane fade">
                            <h3>HOME</h3>
                            <p>Some content.</p>
                        </div>
                        <div id="login" class="a_login tab-pane fade active in">
                            <div class="form-group">
                                <input class="form-control" placeholder="Nombre de Usuario" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Contraseña" type="password">
                            </div>
                            <div class="form-group clearfix">
                                <div class="checkbox">
                                    <input id="rm" value="" type="checkbox">
                                    <label for="rm">Recuerdame</label>
                                </div>
                                <button type="button" data-dismiss="modal" class="btn">Log in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main menu section-->
    <div class="a_menu_section">
        <nav class="navbar a_navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../Landing">
                        <img src="../../../assets/img/logo.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="../Landing">Inicio</a>
                        </li>
                        <li>
                            <a href="../Manuales">Manuales</a>
                        </li>
                        <li>
                            <a href="../Directorio">Directorio</a>
                        </li>
                        <li>
                            <a href="../Directorio_Apps">Aplicaciones</a>
                        </li>
                        <li>
                            <a href="../Login">Tickets</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div id="Anon_Footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="a_f_block">
                    <div class="a_f_logo">
                        <img src="../../../assets/img/logo-footer.png" alt="">
                            </div>
                        <hr>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="a_f_block  a_address_block">
                            <h5 class="address">Contacto</h5>
                            <div class="col-md-2 col-sm-2 col-xs-6 address col-md-offset-1">
                                <p style="margin:0 !important;">
                                    <strong>Rafael Espericueta:</strong>
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i>Ext. 112</span>
                                    <span>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> rafael@mht-jcv.com.mx</span>
                                </p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6 address">
                                <p style="margin:0 !important;">
                                    <strong>Jesus Bautista:</strong>
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i>Ext. 149</span>
                                    <span>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> it@mht-jcv.net</span>
                                </p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6 address">
                                <p style="margin:0 !important;">
                                    <strong>Darien Ramirez:</strong>
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i>Ext. 251</span>
                                    <span>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> dramirez@mht-jcv.com</span>
                                </p>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6 address">
                                <p style="margin:0 !important;">
                                    <strong>Jorge Sánchez:</strong>
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i>Ext. 251</span>
                                    <span>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> jrsanchez@mht-jcv.com</span>
                                </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 address">
                                <p style="margin:0 !important;">
                                    <strong>Leyda Sánchez:</strong>
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-phone" aria-hidden="true"></i>Ext. 136</span>
                                    <span>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> lsanchez@mht-jcv.com.mx</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="a_copyright">
                <div class="container">
                    <div class="a_copyright_left">
                        <p>Copyright &copy; 2019 Departamento de sistemas.</p>
                    </div>
                </div>
            </div>
</div>