<script id="Comment_Sistema" type="text/x-handlebars-template">
  {{#each Comment}}
  <li class="{{Position}}">
    <div class="timeline-circ circ-xl {{IconStyle}}">
      <span class="{{Icon}}"></span>
    </div>
    <div class="timeline-entry">
      <div class="card style-default-light">
        <div class="card-body small-padding">
          <div>
            <p>
              <span class="text-medium">{{User_Name}}</span><br>
              <span class="opacity-50">
                {{Comment_Date}}
              </span>
            </p>
            {{Comment_Description}}
          </div>
        </div><!--end .card-body -->
      </div><!--end .card -->
    </div><!--end .timeline-entry -->
  </li>
  {{/each}}
</script>
