<div id="DirectoryUserMenu">
  {{#each User}}
  <li class="Contact">
    <a href="#content{{User_ID}}" data-toggle="tab">{{UserName}}
      <br />
      <span hidden>{{Department_Name}}</span>
    </a>
  </li>
  {{/each}}
</div>

<div id="DirectoryUserData">
  {{#each User}}
  <div id="content{{User_ID}}" class="tab-pane fade in Details">
    <h1>{{UserName}}</h1>
    <h3>{{Ofice_Name}}</h3>
    <span>{{Department_Name}}</span>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-12">
        <ul class="a_list a_arrow_list">
          {{#if User_Ext}}
          <li><a href="#." class="Info-card"><i class="fa fa-phone" aria-hidden="true"></i>Ext {{User_Ext}}</a></li>
          {{/if}}
          {{#if User_Email}}
          <li><a href="#." class="Info-card"><i class="fa fa-envelope-o " aria-hidden="true"></i>{{User_Email}}</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
</div>
