<script id="AttachedFiles" type="text/x-handlebars-template">
  {{#each File}}
  <div class="col-md-12 file" style="overflow:hidden;  white-space: nowrap ">
    <li>
        <a href="../../Core/download.php?Path=J:/PHPUPLOAD/{{User_ID}}/{{Ticket_ID}}/{{Path}}" download>
            <i class="md md-file-download"></i><span>{{Path}}</span>
        </a>
    </li>
    <hr style="margin:5px 0px;">
  </div>
  {{/each}}
</script>
