<script id="SideBar" type="text/x-handlebars-template">
  {{#each Menu}}
    {{#if Menu_Href}}
    <li>
      <a href="{{Menu_Href}}" class="MenuLink">
      {{else}}
    <li class="gui-folder">
      <a href="javascript:void(0)">
    {{/if}}
    {{#if Menu_Icon}}
    <div class="gui-icon">
      <i class="{{Menu_Icon}}"></i>
    </div>
    {{/if}}
    <span class="title">{{Menu_DisplayName}}</span>
    </a>
    {{#if Menu}}
    <ul>
      {{> Menu}}
    </ul>
    {{/if}}
  </li>
  {{/each}}
</script>