<script id="Mail" type="text/x-handlebars-template">
    <html>

    <head>
        <style>
            table {
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
            }
            
            .LightGray {
                background-color: #e5e6e6;
                margin: 10px 0px;
                align-content: center;
            }
            
            .DarkGray {
                background-color: #fff;
            }
            
            .DarkGray td {
                color: #666;
            }
            
            .LogoStyle {
                height: 50px;
                width: auto;
                padding: 20px;
            }
            
            .Text {
                text-align: center;
                padding: 20px;
            }
            
            .Footer {
                background-color: #212121;
                color: #fff;
            }
            
            .Contactos {
                text-align: center;
                color: #e5e6e6;
                font-style: normal;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>

    <body>
        <table width="750px">
            <tbody>
                <tr class="LightGray">
                    <td style="text-align:center;"><img src="../../../assets/img/HITSmall.png" class="LogoStyle"></td>
                </tr>
                <tr class="DarkGray Text" style="height:400px">
                    <td style="padding: 20px 0px">
                        <h1>{{message}}</h1>
                        {{#if ticket}}
                        <h3>Folio:</h3>
                        <h4>{{ticket}}</h4>
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td class="Footer Text">
                        <h3>CONTACTO</h3>
                        <table class="Contactos" width="100%">
                            <tr>
                                <td>
                                    <h4>Rafael Espericueta</h4>
                                    <h5>Ext. 112</h5>
                                    <h5>rafael@mht-jcv.com.mx</h5>
                                </td>
                                <td>
                                    <h4>Jesus Bautista</h4>
                                    <h5>Ext. 149</h5>
                                    <h5>it@mht-jcv.net</h5>
                                </td>
                                <td>
                                    <h4>Darien Sánchez</h4>
                                    <h5>Ext. 251</h5>
                                    <h5>N/A</h5>
                                </td>
                                <td>
                                    <h4>Jorge Sanchez</h4>
                                    <h5>Ext. 251</h5>
                                    <h5>jrsanchez@mht-jcv.com.mx</h5>
                                </td>
                                <td>
                                    <h4>Leyda Sanchez</h4>
                                    <h5>Ext. 136</h5>
                                    <h5>lsanchez@mht-jcv.com.mx</h5>
                                </td>
                            </tr>
                        </table>
                        <h6>Copyright c 2017 Departamento de sistemas.</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>

    </html>
</script>