<div id="Topbar">
  <div class="headerbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand" >
          <div class="brand-holder">
            <a href="http://helpit.mht-jcv.com">
              <img src="../../../assets/img/logo.png" />
            </a>
          </div>
        </li>
        <li class="visible-xs">
            <a class="btn btn-icon-toggle" onclick="Core.ShowMenu()">
              <i class="fa fa-bars"></i>
            </a>
          </li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="headerbar-right">
      <!--<ul class="header-nav header-nav-options">
        <li class="dropdown hidden-xs" id="ItOnly">
							<a href="http://helpit.mht-jcv.com/html/IT/Tickets_Disponibles/" class="btn btn-icon-toggle btn-default" aria-expanded="false">
								<i class="fa fa-envelope"></i><sup class="badge style-danger" id="Badge">0</sup>
							</a>

						</li>
      </ul>--><!--end .header-nav-options -->
      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            {{! Photo Aqui}}
            <span class="profile-info">
              {{Nombre}}
              <small id="Dept">{{Role_Name}}</small>
            </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li>
              <a href="" onclick="Core.LogOut()">
                <i class="fa fa-fw fa-power-off text-danger"></i> Cerrar Sesion
              </a>
            </li>
          </ul><!--end .dropdown-menu -->
        </li><!--end .dropdown -->
      </ul><!--end .header-nav-profile -->
    </div><!--end #header-navbar-collapse -->
  </div>
</div>

<div id="MenuItem">
  {{#.}}
  {{! Si no Existe Un Hijo se Crea el Li que da referencia a otro lugar en la Pagina Web}}
  {{^Menu_HasChild}}
  <li>
    {{! Si Existe un Icono lo dibuja}}
    <a href="{{Menu_Href}}" class="MenuLink">
      {{#Menu_Icon}}
      <div class="gui-icon">
        <i class="{{Menu_Icon}}"></i>
      </div>
      {{/Menu_Icon}}
      <span class="title">{{Menu_DisplayName}}</span>
    </a>
  </li>
  {{/Menu_HasChild}}

  {{! Si Existe un hijo se cre el Li que contendra a los hijos}}
  {{#Menu_HasChild}}
  <li class="gui-folder">
    <a href="javascript:void(0);">
      {{#Menu_Icon}}
      <div class="gui-icon">
        <i class="{{Menu_Icon}}"></i>
      </div>
      {{/Menu_Icon}}
      <span class="title">{{Menu_DisplayName}}</span>
    </a>
    <ul class="Menu{{Menu_ID}}">
    </ul>
  </li>
  {{/Menu_HasChild}}
  {{/.}}
</div>
