<script id="Menu_template" type="text/x-handlebars-template">
    <div class="col-md-12">
        <div class="menu_list">
            <ul id='menu_list_a' class="list col-md-12 row">
                {{#each Element}}
                <li class="col-md-6">
                    <a href="../Register_Menu/Index.html?id={{Menu_ID}}" data-menu='{{Menu_ID}}'>
                        <h4>{{Menu_Name}}
                            <span>${{Menu_Price}}</span>
                        </h4>
                        <p>{{Menu_Ingredients}}</p>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <script>
   // InitEvents();
    </script>
</script>