<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-center">Bienvenido</h4>
</div>

<div class="modal-body">
	<div class="row gap-20">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2></h2>
			<div class="form-group"> 
				<p>EL PEDIDO FUE ENVIADO EXITOSAMENTE, UN MESERO SE ACERCARA A CONFIRMAR SU PEDIDO,
                    GRACIAS.
                </p>
			</div>
		
		</div>
	</div>
</div>


<div class="modal-footer text-center">
	<button id="btn_OK" type="button" class="btn btn-primary">CONFIRMAR</button>
</div>