<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-center">Ingredientes</h4>
</div>

<div class="modal-body">
	<div class="row gap-20">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2></h2>
			<ul id="details_list">
				<!-- <li class="row">
					<h4 class="col-md-4">Tomate</h4>
					<input id="txt_detalle" class="form-control col-md-4 col-md-offset-2" type="number" min="0" max="3" value="1" data-id=''> 
				</li>
				<li class="row">
					<h4 class="col-md-4">Cebolla</h4>
					<input id="txt_detalle" class="form-control col-md-4 col-md-offset-2" type="number" min="0" max="3" value="1" data-id=''> 
				</li>
				<li class="row">
					<h4 class="col-md-4">Queso</h4>
					<input id="txt_detalle" class="form-control col-md-4 col-md-offset-2" type="number" min="0" max="3" value="1" data-id=''> 
				</li>
				<li class="row">
					<h4 class="col-md-4">Lechuga</h4>
					<input id="txt_detalle" class="form-control col-md-4 col-md-offset-2" type="number" min="0" max="3" value="1" data-id=''> 
				</li> -->
				
			</ul>
			<div class="row">
				<h4 class="col-md-4">Cantidad</h4>
				<input id="txt_detalle_cantidad" class="form-control col-md-4 col-md-offset-2" type="number" min="0" value="1" data-id=''> 
			</div>
		</div>
	</div>
</div>


<div class="modal-footer text-center">
	<button id="btn_add" type="button" class="btn btn-primary">ACEPTAR</button>
	<button id="btnClose" type="button" data-dismiss="modal" class="btn btn-dark">CANCELAR</button>
</div>