<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title text-center">Bienvenido</h4>
</div>

<div class="modal-body">
	<div class="row gap-20">
		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<h2></h2>
			<div class="form-group"> 
				<label>INGRESE SU PIN</label>
				<input id="txt_pinmodal" class="form-control" type="password"> 
			</div>
		
		</div>
	</div>
</div>


<div class="modal-footer text-center">
	<button id="btn_aceptar" type="button" class="btn btn-primary">ACEPTAR</button>
	<button id="btnClose" type="button" data-dismiss="modal" class="btn btn-dark">CANCELAR</button>
</div>