<script id="number_input" type="text/x-handlebars-template">
{{#each Element}}
    <li class="row">
		<h4 class="col-md-4">{{Display}}</h4>
		<input id="txt_detalle_{{Display}}" class="form-control col-md-4 col-md-offset-2 input_number" type="number" min="0" max="3" value="1" data-id='{{Display}}'> 
	</li>
	<br>
{{/each}}
</script>

<script id="menu_food" type="text/x-handlebars-template">
	{{#each Element}}
	{{#if @first}}
	<div class="row">
		<div id="{{Menu_ID}}" class="col-md-12">
			<h3>{{Menu_Name}} </h3>
		</div>
	{{/if}}
	{{#if Menu_Ingredients}}
	<div class="col-lg-4">
		<div class="categories_post" data-ingredients="{{Menu_Ingredients}}" data-name="{{Menu_Name}}" data-price="{{Menu_Price}}" data-id="{{Menu_ID}}"> 
			<img src="../../../assets/Photos/{{Menu_Photo}}" alt="post">
			<div class="categories_details">
				<div class="categories_text">
						<h5>{{Menu_Name}}</h5>
					<div class="border_line"></div>
					<p>{{Menu_Ingredients}}</p>
					<b>${{Menu_Price}}</b>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	{{#unless @first}}
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>{{Menu_Name}} </h3>
		</div>
	{{/unless}}
	{{/if}}
	{{#if @last}}
		</div>
	{{/if}}
	{{/each}}
	</script>

	<script id="order_element" type="text/x-handlebars-template">
		{{#each producto}}
		<li>{{name}}
			<h5 class="pull-right"> {{product_quantity}} x ${{price}}  = ${{total_price}}</h5>
			{{#ifEquals enviado 0}}
			<button data-name="{{name}}" data-id="{{id}}" type="button" class="btn remove-product"><i class="fa fa-remove" style="color: red;"></i></button>
			{{/ifEquals}}
			<ul>
			{{#each ingredients}}
			<li>{{ingredient}} - {{quantity}}</li>
			{{/each}}
			{{#if ProductDetail}}
				{{ProductDetail}}
			{{/if}}
			</ul>
		</li>
		{{/each}}
		</script>


<script id="select_element" type="text/x-handlebars-template">
	<option value="0"></option>
	{{#.}}
	<option value="{{Value}}">{{Display}}</option>
	{{/.}}
  </script>